main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.glass
{ background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 4px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}

 :root{
    --primary-color: #9340FF;
    --secondary-color: #101728;
    --dark-color:#272727;
    --light-color:#e0e0e0;
    --gradient: rgb(189,13,241);
    --background:linear-gradient(90deg, rgba(189,13,241,1) 0%, rgba(227,38,232,1) 35%, rgba(246,7,7,1) 100%);
 }

 body{
    color: var(--secondary-color);
 }

 nav {
    background-color: var(--primary-color);

 }

 footer{
    background-color: var(--dark-color);
 }

 h1{
    color:var(--primary-color);
 }

 


 .cool_heading{
    font-family: 'Plus Jakarta Sans';
    font-size: 64px;
    font-weight:bolder;

}
.cool_heading_line_spaced{
    font-family: 'Plus Jakarta Sans';
    font-size: 64px;
    font-weight:bolder;
    line-height: 75px;

}

.cool_bold_14 {
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight:bold;
}

.cool_normal_14 {
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight:normal;
}

.cool_password_prompt {
    font-family: 'Plus Jakarta Sans';
    font-size: 10px;
    font-weight: light;
}


.width_compressor {
    margin:auto;
    max-width:500px;
}

footer .social>a {
    opacity: 0.75;
   color: #e0e0e0;
   
}




footer .social>a:hover{
    opacity: 0.9;
    color:var(--primary-color);
}

code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}





 
  

